@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');

body{
    background-color: rgb(235, 91, 81);
    display: block;
}


div a{
    color:rgb(235, 91, 81);
}

h5{
    font-size: 20px;
    font-style: inherit;
}


h1{
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    color: #c74747;
    text-align: end;
    padding-top: 10%;
    text-shadow: black 2px 2px;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-style:initial;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

h7{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: left;
}

header{
    text-align: center;
    background-image: url(../img/mercadofundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: screen;
}

.menu-principal{
    width: 100% ;
}


#mercadorias{
    display: block;
    height: 1100px;
    background-color:#812b2b;
}


#empresa{
    display:block;
    height: 170px;
    background-color: #ca5c5c;

}

#faleconosco{
    display: block;
    height: 130px;
    background-color:#752323;

}

#mercadobaratao{
    display: block;
    height: 600px;
    background-color:#3a0707;

}

#ofertas{
    display:block;
    height: 720px;
    background-color:#ad4747;
}

h2{
    padding-top: 18px;
    font-size: 28px;
    font-weight: bold;
    text-shadow: black 2px 2px;
    text-align: center;
    color:rgb(255, 255, 255)
}

h3{
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    text-align: center;
    color:white
}

nav ul{
    display: inline-flex;
}

nav ul li{
    display: block;
    padding: 10x;
}


nav ul li a{
    display:block;
    background-color:#9c3838;
    padding: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

p{
    text-align: left;
}

ul li{
    text-align: left;
}


footer{
    height: 40px;
    padding-top: 10px;
    color: white;
    text-align: center;
    font: size 28px;
    background-color:#911f1f;
}
